body {
    background-color: #353535;
    color:#fff;
    text-align:center;
}

.my-btn:hover {
    color:#9ACC02;
    cursor:pointer;
}

.output {
    font-size: 30px;
    color: #fff;
}

#circle-main {
    position: relative;
}

.rangeslider {
    margin: 0 auto;
}

.rangeslider__fill {
    background: #9ACC02;
}